.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem 0;

  .buttons {
    display: flex;
    gap: 0.5rem;

    button {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 140%;
      border-radius: 0.375rem;
      color: #8d8d99;
      background-color: var(--gray4);

      &.active {
        background-color: var(--green-dark);
        color: var(--gray7);
        border-radius: 0.375rem;

        &:hover {
          background-color: var(--green);
          color: var(--gray7);
        }
      }

      &:hover {
        background-color: var(--gray3);
        color: var(--gray7);
      }
    }
  }

  .prev,
  .next {
    background-color: transparent;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
