.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16px);
  margin-top: rem(40px);

  .buttons {
    display: flex;
    gap: rem(8px);

    button {
      width: rem(40px);
      height: rem(40px);
      font-size: rem(16px);
      font-weight: 700;
      line-height: 140%;
      border-radius: rem(6px);
      color: #8d8d99;
      background-color: $gray4;

      &.active {
        background-color: green-dark;
        color: $gray7;
        border-radius: rem(6px);

        &:hover {
          background-color: green;
          color: $gray7;
        }
      }

      &:hover {
        background-color: gray3;
        color: $gray7;
      }
    }
  }

  .prev,
  .next {
    background-color: transparent;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
