.input {
  width: 100%;
  padding: rem(16px);
  font-size: rem(16px);
  font-weight: 400;
  line-height: 140%;
  color: $gray6;
  background-color: $gray1;
  border-radius: rem(6px);

  &::placeholder {
    color: $gray5;
  }
}
