.buttonEntry {
  &.selected {
    background-color: $green-dark;
    color: $white;

    path {
      fill: $white;
    }

    &:hover {
      background-color: $green;
    }
  }
}

.buttonOutput {
  &.selected {
    background-color: $red-dark;
    color: $white;

    path {
      fill: $white;
    }

    &:hover {
      background-color: $red;
    }
  }
}

.buttonEntry,
.buttonOutput {
  @include type-typography(md);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(16px) rem(24px);
  gap: rem(8px);
  border-radius: rem(6px);
  background-color: $gray3;
  color: $gray6;

  &:hover {
    background-color: $gray4;
  }
}
