.buttonSearch {
  display: flex;
  align-items: center;
  border-radius: rem(8px);
  border: rem(1px) solid $green-light;
  padding: rem(14px) rem(32px);
  gap: rem(12px);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  @media (max-width: 850px) {
    display: flex;
    gap: 0;
    padding: rem(16px);
  }

  button {
    font-size: rem(16px);
    font-weight: 700;
    line-height: 160%;
    color: $green-light;
    background-color: transparent;

    @media (max-width: 850px) {
      display: none;
    }
  }

  svg {
    path {
      fill: $green-light;
    }

    @media (max-width: 850px) {
      width: rem(22px);
      height: rem(22px);
    }
  }

  &:hover {
    background-color: $green;

    button {
      color: $white;
    }

    path {
      fill: $white;
    }
  }
}
