.transactions {
  margin-bottom: rem(40px);

  .list {
    @include container;
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    margin-top: rem(24px);

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      padding: rem(20px) rem(32px);
      background-color: $gray3;
      border-radius: rem(5px);
      gap: rem(8px);
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $gray4;
      }

      @media (max-width: 850px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 320px) {
        grid-template-columns: 1fr;
      }

      p {
        color: $gray6;
        flex: 1;
        word-wrap: break-word;
      }

      .description {
        @include type-typography(md);
        max-width: rem(500px);
        min-width: rem(250px);

        @media (max-width: 850px) {
          grid-column: 1 / -1;
          max-width: initial;
          min-width: initial;
        }
      }

      .entry,
      .output {
        max-width: rem(200px);
        min-width: rem(100px);
        @include type-typography(md);

        @media (max-width: 850px) {
          grid-row: 2;
          grid-column: 1 / -1;
          max-width: initial;
          min-width: initial;
          @include type-typography(sm);
        }
      }

      .category {
        @include type-typography(md);
        max-width: rem(240px);
        min-width: rem(120px);

        @media (max-width: 850px) {
          grid-row: 3;
          color: $gray5;
        }
      }

      .categoryMedia {
        display: flex;
        align-items: center;
        gap: rem(4px);
        grid-row: 3;
      }

      .entry {
        color: $green-light;
      }

      .output {
        color: $red;
      }

      .date {
        @include type-typography(md);
        max-width: rem(92px);
        min-width: rem(92px);
        text-align: right;

        @media (max-width: 850px) {
          grid-row: 3;
          color: $gray5;
        }
      }

      .dateMedia {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: rem(4px);
        grid-row: 3;

        @media (max-width: 320px) {
          grid-row: 4;
          justify-content: flex-start;
        }

        .date {
          @include type-typography(md);
          text-align: initial;
        }
      }
    }
  }
}
