.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;

  li {
    display: flex;
    justify-content: space-around;
    padding: 20px 32px;
    background-color: var(--gray3);
    border-radius: 5px;
    gap: 8px;

    p {
      color: var(--gray6);
      flex: 1;
      word-wrap: break-word;

      &:last-child {
        text-align: right;
        flex: 1;
      }
    }

    .description {
      max-width: 500px;
      min-width: 250px;
    }

    .entry,
    .output {
      max-width: 200px;
      min-width: 100px;
    }

    .category {
      max-width: 240px;
      min-width: 120px;
    }

    .entry {
      color: var(--green-light);
    }

    .output {
      color: var(--red);
    }

    .date {
      max-width: 92px;
      min-width: 92px;
    }
  }
}
