.logo {
  display: flex;
  align-items: center;
  gap: rem(16px);
  

  @media (max-width: 500px) {
    gap: rem(9px);

    img {
      width: rem(24px);
      height: rem(24px);
    }
  }

  h1 {
    color: $gray7;
    font-size: rem(25px);
    font-weight: 700;
    line-height: 160%;

    @media (max-width: 500px) {
      font-size: rem(19px);
    }

    @media (max-width: 350px) {
      font-size: rem(16px);
    }
  }
}
