body {
  background-color: var(--gray2);
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.animeBottom {
  opacity: 0;
  transform: translateY(-40px);
  animation: animeBottom 1.2s forwards;
}

@keyframes animeBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.success {
  border: 1px solid var(--green);
}

.error {
  border: 1px solid var(--red);
}
