// Fonte
$font-family: "Roboto", sans-serif;

// Cores base
$gray1: #121214;
$gray2: #202024;
$gray3: #29292e;
$gray4: #323238;
$gray5: #7c7c8a;
$gray6: #c4c4cc;
$gray7: #e1e1e6;
$gray8: #f8f8f8;
$white: #ffffff;

// Cores de destaque
$green-dark: #015f43;
$green: #00875f;
$green-light: #00b37e;
$red-dark: #aa2834;
$red: #f75a68;
