.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;

  @media (max-width: 600px) {
    align-items: flex-end;
  }

  &.isOpen {
    opacity: 0;
    visibility: hidden;
  }

  .modalTransaction {
    background-color: $gray2;
    width: rem(535px);
    padding: rem(48px);
    position: relative;

    @media (max-width: 600px) {
      width: 100vw;
      border-radius: rem(20px) rem(20px) 0 0;
      padding: rem(24px);
    }

    .close {
      width: max-content;
      background-color: transparent;
      position: absolute;
      top: rem(24px);
      right: rem(24px);

      @media (max-width: 600px) {
        width: rem(24px);
        height: rem(24px);
      }
    }

    h1 {
      color: $gray7;
      margin-bottom: rem(32px);
      @include type-typography(lg);

      @media (max-width: 600px) {
        @include type-typography(sm);
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: rem(16px);
    }

    .buttonsSelected {
      display: flex;
      gap: rem(16px);
      margin: rem(24px) 0 rem(40px) 0;
    }

    button {
      width: 100%;
    }
  }
}
