.cardValue {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  background-color: $gray4;
  padding: rem(24px) rem(24px) rem(24px) rem(32px);
  border-radius: rem(6px);

  @media (max-width: 990px) {
    min-width: rem(280px);
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      @include type-typography(md);
      color: $gray6;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: rem(12px);

    h1 {
      color: $gray7;
      max-width: rem(296px);
      word-wrap: break-word;
      @include type-typography(lg);
      
      @media (max-width: 990px) {
        max-width: 100%;
      }
    }

    p {
      color: $gray5;
    }
  }
}
