.header {
  background-color: var(--gray1);
  height: 13.25rem;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 1;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
