.search {
  margin-top: rem(199px);

  .wrapper {
    @include container;
    display: flex;
    gap: rem(16px);

    input {
      @include type-typography(md);
      width: 100%;
      padding: rem(16px);
      border-radius: rem(6px);
      background-color: $gray1;
      color: $gray8;

      &::placeholder {
        color: $gray5;
      }
    }

    @media (max-width: 850px) {
      gap: rem(8px);
    }
  }
}
