.values {
  @include container;
  display: flex;
  gap: rem(32px);
  z-index: 999;
  position: relative;
  top: rem(135px);
  overflow: auto;

  @media (max-width: 990px) {
    gap: rem(16px);
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
