.values {
  display: flex;
  gap: 2rem;
  z-index: 999;
  position: relative;
  top: 135px;
  overflow: auto;

  @media (max-width: 990px) {
    gap: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
